<CiscoIPPhoneMenu>
  <Title>Remote Directories</Title>
  <Prompt>Select a directory</Prompt>
  <SoftKeyItem>
    <Name>Select</Name>
    <URL>SoftKey:Select</URL>
    <Position>1</Position>
  </SoftKeyItem>
  <SoftKeyItem>
    <Name>Exit</Name>
    <URL>Init:Services</URL>
    <Position>3</Position>
  </SoftKeyItem>
  {{#each groups}}
    <MenuItem>
      <Name>{{this.name}}</Name>
      <URL>{{@root.url}}{{this.id}}</URL>
    </MenuItem>
  {{/each}}
</CiscoIPPhoneMenu>