<CiscoIPPhoneText>
  <Title>Test 1</Title>
  <Text>Test</Text>
  <SoftKeyItem>
    <Name>Test Me</Name>
    <URL>http://192.168.4.10:3000/test/lol</URL>
    <Position>1</Position>
  </SoftKeyItem>
</CiscoIPPhoneText>